keras
pillow
pandas
matplotlib
numpy
requests
nltk
plotly
notebook
ipywidgets
pyarrow
sklearn
seaborn
spacy
gensim
wordcloud
transformers
mlflow
azure-ai-textanalytics==5.1.0
azureml.core
azureml-mlflow