body{
    position: relative;
    background-color: #30303d; 
    color: #fff; 
}

p{
    text-align: center;
}


h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.code{
    background-color: rgba(167, 167, 167, 0.6); 
    color: rgb(255, 180, 81); 
    font-family: 'Courier New', Courier, monospace;
    padding-top:3px;
    padding-bottom:5px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.9em;
    font-style: italic;
}

img{
    margin-bottom: 20px;
}

.footer{
    background-color: #f5f5f528; 
}